[Unit]
Description=Py LCD Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/pylcdmonitor/pymonitor.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

